* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  height: 100vh;
  overflow: hidden; }

body {
  font-family: 'Oswald', sans-serif;
  background-color: #5e9e75;
  color: #273c41;
  font-weight: 400;
  height: 100%;
  height: 100vh;
  overflow: hidden; }

header {
  background-color: #e9e9dd;
  color: #273c41;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 99;
  padding: 20px; }
  header nav {
    margin: auto;
    text-align: center;
    display: table; }
    header nav:after {
      content: "";
      display: table;
      clear: both; }
    header nav ul li {
      width: 20%;
      list-style: none;
      display: table-cell;
      text-align: center;
      padding: 0 10%; }
      header nav ul li i {
        color: #273c41; }

.imgResponsive {
  width: 100%;
  height: auto; }

.view {
  position: fixed;
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
  left: 100%;
  top: 30px;
  background-color: #83cd9f;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0 0 90px; }
  .view h1 {
    margin-bottom: 20px;
    text-transform: uppercase; }

.activeView {
  left: 0; }

#homeView .billList {
  list-style: none;
  width: 100%;
  overflow: scroll; }
  #homeView .billList li {
    background-color: #83cd9f;
    padding: 20px 10px 10px;
    min-height: 80px;
    position: relative; }
    #homeView .billList li:after {
      content: "";
      display: table;
      clear: both; }
    #homeView .billList li .overdue {
      background-color: #cd8583; }
    #homeView .billList li:nth-child(odd) {
      background-color: #5e9e75; }
    #homeView .billList li .bName {
      position: absolute;
      font-size: 2em;
      left: 15px;
      float: left; }
    #homeView .billList li .bDate {
      font-size: 1.3em;
      font-family: 'Roboto Slab', serif;
      position: absolute;
      font-weight: 100;
      right: 15px;
      float: right;
      top: 70px; }
    #homeView .billList li .bAmount {
      position: absolute;
      float: right;
      font-size: 2em;
      right: 15px;
      font-weight: 700; }

#addView {
  background-color: #5e9e75; }
  #addView #addContent {
    width: 90%;
    margin: 40px auto 0 auto;
    padding-bottom: 90px;
    text-align: center;
    overflow: scroll; }
    #addView #addContent #addBill {
      font-size: 1.5em;
      font-weight: 300; }
      #addView #addContent #addBill .formGroup {
        padding: 10px; }
      #addView #addContent #addBill label {
        display: inline-block;
        margin-right: 10px;
        width: 30%; }
      #addView #addContent #addBill input {
        font-size: .9em;
        border-radius: 5px;
        width: 60%;
        color: #273c41;
        border: none; }
      #addView #addContent #addBill button {
        background-color: #e9e9dd;
        color: #273c41;
        padding: 5px 10px;
        font-weight: 700;
        font-size: .6em;
        border: none;
        border-radius: 5px; }

#paidView {
  background-color: #78bfb6; }
  #paidView .paidList {
    list-style: none;
    width: 100%;
    overflow: scroll; }
    #paidView .paidList:after {
      content: "";
      display: table;
      clear: both; }
    #paidView .paidList li {
      background-color: #78bfb6;
      padding: 20px 10px 10px;
      min-height: 80px;
      color: #FEFEFE;
      position: relative; }
      #paidView .paidList li .overdue {
        background-color: #cd8583; }
      #paidView .paidList li:nth-child(odd) {
        background-color: #273c41; }
      #paidView .paidList li .bName {
        position: absolute;
        font-size: 2em;
        left: 15px;
        float: left; }
      #paidView .paidList li .paiddate {
        font-size: 1.3em;
        font-family: 'Roboto Slab', serif;
        position: absolute;
        color: #e9e9dd;
        font-weight: 100;
        left: 15px;
        float: right;
        top: 70px; }
      #paidView .paidList li .bAmount {
        position: absolute;
        float: right;
        font-size: 2em;
        right: 15px;
        font-weight: 400; }

#contactView #contactContent .col1 {
  width: 50%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  font-size: 1.8em; }
#contactView #contactContent .col2 {
  width: 50%;
  float: right;
  padding: 20px;
  box-sizing: border-box;
  font-size: 1.5em;
  font-weight: 300; }
  #contactView #contactContent .col2 .formGroup {
    padding: 10px; }
  #contactView #contactContent .col2 label {
    display: block;
    margin-right: 10px;
    width: 30%; }
  #contactView #contactContent .col2 input {
    font-size: .9em;
    border-radius: 5px;
    width: 100%;
    color: #273c41;
    border: none;
    display: block; }
  #contactView #contactContent .col2 textarea {
    font-size: .9em;
    border-radius: 5px;
    width: 100%;
    color: #273c41;
    border: none;
    min-height: 90px;
    display: block; }
  #contactView #contactContent .col2 button {
    background-color: #e9e9dd;
    color: #273c41;
    padding: 5px 10px;
    font-weight: 700;
    font-size: .6em;
    border: none;
    border-radius: 5px;
    margin-left: 10px; }

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
  #contactView #contactContent .col1, #contactView #contactContent .col2 {
    width: 100%;
    float: none; } }

/*# sourceMappingURL=style.css.map */
