//variables
$darkgreen: #5e9e75;
$lightgreen: #83cd9f;
$offwhite: #e9e9dd;
$softwhite: #FEFEFE;
$darkblue: #273c41;
$lightblue: #78bfb6;
$overdue: #cd8583;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%; //fallback for older browsers
  height: 100vh;
  overflow: hidden;

}

body {
  font-family: 'Oswald', sans-serif;
  background-color: $darkgreen;
  color: $darkblue;
  font-weight: 400;
  height: 100%; //fallback for older browsers
  height: 100vh;
  overflow: hidden;
}

header {
  background-color: $offwhite;
  color: $darkblue;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 99;
  padding: 20px;
  nav {
    margin: auto;
    text-align: center;
    display: table;
    @include clearfix;
    ul li {
      width: 20%;
      list-style: none;
      display: table-cell;
      text-align: center;
      padding: 0 10%;
      i {
        color: $darkblue;
      }
    }
  }
}

.imgResponsive {
  width: 100%;
  height: auto;
}

.view {
  position: fixed;
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
  left: 100%;
  top: 30px;
  background-color: $lightgreen;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0 0 90px;
  h1 {
    margin-bottom: 20px;
    text-transform: uppercase;
  }
}

.activeView {
  left: 0;
}

#homeView {
  .billList {
    list-style: none;
    width: 100%;
    overflow: scroll;
    li {
      background-color: $lightgreen;
      padding: 20px 10px 10px;
      min-height: 80px;
      position: relative;
      @include clearfix;
      .overdue {
        background-color: $overdue;
      }
      &:nth-child(odd) {
        background-color: $darkgreen;
      }
      .bName {
        position: absolute;
        font-size: 2em;
        left: 15px;
        float: left;
      }
      .bDate {
        font-size: 1.3em;
        font-family: 'Roboto Slab', serif;
        position: absolute;
        font-weight: 100;
        right: 15px;
        float: right;
        top: 70px;
      }
      .bAmount {
        position: absolute;
        float: right;
        font-size: 2em;
        right: 15px;
        font-weight: 700;
      }
    }
  }
}

#addView {
  background-color: $darkgreen;
  #addContent {
    width: 90%;
    margin: 40px auto 0 auto;
    padding-bottom: 90px;
    text-align: center;
    overflow: scroll;
    #addBill {
      font-size: 1.5em;
      font-weight: 300;
      .formGroup {
        padding: 10px;
      }
      label {
        display: inline-block;
        margin-right: 10px;
        width: 30%;
      }
      input {
        font-size: .9em;
        border-radius: 5px;
        width: 60%;
        color: $darkblue;
        border: none;
      }
      button {
        background-color: $offwhite;
        color: $darkblue;
        padding: 5px 10px;
        font-weight: 700;
        font-size: .6em;
        border: none;
        border-radius: 5px;
      }
    }
  }
}

#paidView {
  background-color: $lightblue;
  .paidList {
    list-style: none;
    width: 100%;
    overflow: scroll;
    @include clearfix;
    li {
      background-color: $lightblue;
      padding: 20px 10px 10px;
      min-height: 80px;
      color: $softwhite;
      position: relative;
      .overdue {
        background-color: $overdue;
      }
      &:nth-child(odd) {
        background-color: $darkblue;
      }
      .bName {
        position: absolute;
        font-size: 2em;
        left: 15px;
        float: left;
      }
      .paiddate {
        font-size: 1.3em;
        font-family: 'Roboto Slab', serif;
        position: absolute;
        color: $offwhite;
        font-weight: 100;
        left: 15px;
        float: right;
        top: 70px;
      }
      .bAmount {
        position: absolute;
        float: right;
        font-size: 2em;
        right: 15px;
        font-weight: 400;
      }
    }
  }
}

#contactView {
  #contactContent {
    .col1 {
      width: 50%;
      float: left;
      padding: 20px;
      box-sizing: border-box;
      margin: 0 auto;
      text-align: center;
      font-size: 1.8em;
    }
    .col2 {
      width: 50%;
      float: right;
      padding: 20px;
      box-sizing: border-box;
      font-size: 1.5em;
      font-weight: 300;
      .formGroup {
        padding: 10px;
      }
      label {
        display: block;
        margin-right: 10px;
        width: 30%;
      }
      input {
        font-size: .9em;
        border-radius: 5px;
        width: 100%;
        color: $darkblue;
        border: none;
        display: block
      }
      textarea {
        font-size: .9em;
        border-radius: 5px;
        width: 100%;
        color: $darkblue;
        border: none;
        min-height: 90px;
        display: block
      }
      button {
        background-color: $offwhite;
        color: $darkblue;
        padding: 5px 10px;
        font-weight: 700;
        font-size: .6em;
        border: none;
        border-radius: 5px;
        margin-left: 10px;
      }
    }
  }
}

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
  #contactView {
    #contactContent {
      .col1, .col2 {
        width: 100%;
        float: none;
      }
    }
  }
}