//variables
$darkgreen: #5e9e75;
$lightgreen: #83cd9f;
$offwhite: #e9e9dd;
$darkblue: #273c41;
$lightblue: #78bfb6;
$overdue: #cd8583;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
*{
  margin: 0;
  padding: 0;
}
html{
  height: 100%; //fallback for older browsers
  height: 100vh;
  overflow: hidden;

}
body{
  font-family: 'Oswald', sans-serif;
  background-color: $lightgreen;
  color: $darkblue;
  font-weight: 400;
  height: 100%; //fallback for older browsers
  height: 100vh;
  overflow: hidden;
}
header{
  background-color: $offwhite;
  color: $darkblue;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 99;
  padding: 20px;
  nav{
    margin: auto;
    text-align: center;
    display: table;
    @include clearfix;
    ul li{
      width: 33.333333%;
      list-style: none;
      display: table-cell;
      text-align: center;
      padding: 0 5%;
      i{
        color: $darkblue;
        font-size: 250%;
      }
    }
  }
}
.imgResponsive{
  width: 100%;
  height: auto;
}
.view{
  position: fixed;
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
  left: 100%;
  top: 15px;
  background-color: $lightgreen;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 60px 0 10px;
}
.activeView{
  left: 0;
}
#homeView{
  .billList{
    list-style: none;
    width: 100%;
    overflow-y:scroll;
    li{
      background-color: $lightgreen;
      padding: 20px 30px 10px;
      min-height: 75px;
      .overdue{
        background-color: $overdue;
      }
      &:nth-child(odd){
        background-color: $darkgreen;
      }
      .bName{
        position: relative;
        font-size: 2em;
//        top: 5px;
        left: 15px;
        float: left;
      }
//      .dDate {
//        font-size: 1.3em;
//        position: relative;
//        color: $offwhite;
//        font-weight: 300;
//        left: -165px;
//        float: left;
//        top: 50px;
//      }
      .bAmount {
        position: relative;
        float: right;
        font-size: 2em;
//        top: 15px;
        right: 10px;
        font-weight: 700;
      }
    }
  }
}
#addView{
  background-color: $darkgreen;
}
#paidView{
  background-color: $lightblue;
  .paidList{
    list-style: none;
    width: 100%;
    color: $offwhite;
    li{
      background-color: $lightblue;
      padding: 5px;
      min-height: 50px;
      &:nth-child(odd){
        background-color: $darkblue;

      }
    }
  }
}
@media only screen and (max-width: 500px), only screen and (max-device-width: 500px){

}